<h2>Title here</h2>
<mat-divider></mat-divider>
<h4>Symbol Table</h4>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="table-position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.index}} </td>
    </ng-container>

    <ng-container matColumnDef="table-name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} <br>{{element.currentPrice}} </td>
    </ng-container>
    <ng-container matColumnDef="table-activeButton">
        <th mat-header-cell *matHeaderCellDef> Activate </th>
        <td mat-cell *matCellDef="let element">
            <app-activate-button symbolName={{element.name}}></app-activate-button>
        </td>
    </ng-container>
    <ng-container matColumnDef="table-strategy">
        <th mat-header-cell *matHeaderCellDef (click)="strategyHeadClicked()">
            Strategy </th>
        <td mat-cell *matCellDef="let element">
            <app-strategy-component symbolName={{element.name}}></app-strategy-component>
        </td>
    </ng-container>
    <ng-container matColumnDef="table-simulate">
        <th mat-header-cell *matHeaderCellDef (click)="simulateHeadClicked()">
            Simulate </th>
        <td mat-cell *matCellDef="let element">
            <app-strategy-simulate-component symbolName={{element.name}}>
            </app-strategy-simulate-component>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>